<!-- Banner -->
    <section id="banner">
      <h2>Not all those who wander are lost!</h2>

      <center>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Name of the destination you want to travel....">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </center>
    </section>


<footer class="footer">
     <div class="container">
       <p class="text-muted">Place sticky footer content here.</p>
     </div>
</footer>
