// Place all the styles related to the tourist_places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 50px;

  background-color:#1a1a1a;
}
#banner{
  background-image: image_url("overlay1.png"),image_url("taj2.jpg");
  padding: 16em 0 20em 0;
  //background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  line-height: 1.75;
  text-align: center;

}
#banner h2 {
    color: #ffffff;
    display: inline-block;
    font-size: 3.5em;
    font-weight: bold;
    font-family: "Brush Script MT",cursive;
  }
  #banner .input-group{
    width: 400px;
  }

  select option:disabled {
    color: #000;
    font-weight: bold;
}

.graphic1 .well{
  padding: 10em 10em 10em 10em;
  background-color: red;
}

.graphic2 .well{
  padding: 10em 5em 10em 5em;
  background-color: #1a1a1a;
}
.graphic3 .well{
  padding: 10em 5em 10em 5em;
  background-color: red;
}

.graphic4 .well{
  padding: 10em 10em 10em 10em;
  background-color: #1a1a1a;
}

#weather{
  background-color: #f39c12;
}
#weather-row{
  background-color: #808080;
  color: white;
}
#border{
  border-style: solid;
  border-spacing: 5em;

  word-wrap: break-word;
}
#review{
  background-color: #D3D3D3;
  border-radius: 35px;
}

.thumbnail img{
  height: 100px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.card{
 border-width:5px; 
 border-radius:25px; 
}
 
.image_place{
    height: 50px;
}

